<h3 class="center">Your Tasks</h3>

<% @tasks.each do |task| %>

  <div class="panel panel-default panel-flat">
    <div class="panel-heading">
      <span class="right">
        <%= link_to("View", task) %>
      </span>
      <h3 class="panel-title">
        Due <%= task.due.to_formatted_s(:long) %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="reading">
        <%= simple_format(task.details) %>
      </div>

      <% if task.tags.any? %>
        <div class="tags">
          <strong>Tags:</strong>    
          <% task.tags.each do |tag| %>
            <%= link_to(tag.title, task_tag_search_path(tag: tag.title)) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'memories/display', memories: task.memories %>

<% end %>

<%= render 'new', task: Task.new %>
