<h1>Welcome to Jogger!</h1>

<div class="panel panel-default panel-flat">
  <div class="panel-heading">
    <h3 class="panel-title">Please Sign In</h3>
  </div>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label(:email, class: "control-label col-md-2") %>
        <div class="col-md-10">
          <%= f.email_field(:email, :autofocus => true, class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:password, class: "control-label col-md-2") %>
        <div class="col-md-10">
          <%= f.password_field(:password, class: "form-control") %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div>
          <%= f.check_box(:remember_me) %> <%= f.label(:remember_me) %>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= f.submit("Sign in", class: "btn btn-primary") %>
    </div>
  <% end %>
</div>

<div class="panel panel-default panel-flat">
  <div class="panel-body">
    <%= render "devise/shared/links" %>
  </div>
</div>
