<div class="panel panel-default panel-flat">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= glyphicon("list-alt") %> Journals
      <span class="right">
        <%= link_to(glyphicon("plus") << " New Journal", new_journal_path) %>
      </span>
    </h3>
  </div>

  <% unless user.journals.any? %>
    <div class="panel-body">
      <p class="reading center">No Journals! Why not create one by clicking the "New" button and start writing.</p>
    </div>
  <% end %>

  <% if user.journals.any? %>
    <table class="table table-striped">
      <% user.journals.each do |journal| %>
        <tr>
          <td>
            <%= glyphicon("book") %>
            <%= link_to(journal.title, journal) %>

            <span class="right">
              <%= link_to(glyphicon("plus") << " New Entry", new_journal_entry_path(journal), class: "btn btn-warning btn-sm") %>
            </span>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

</div>