<div class="panel panel-default panel-flat">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= glyphicon("facetime-video") %> Video Clips
      <span class="right">
        <%= link_to("View All", video_clips_path) %>
      </span>
    </h3>
  </div>

  <div class="panel-body">
    <%= form_for(VideoClip.new) do |f| %>
      <%= f.file_field(:file, id: "video-button-input", accept: "video/*", capture: "camcorder") %>
      
      <video 
        id="video-preview" 
        poster="http://placehold.it/350x150&text=Take+a+video" 
        class="thumbnail" 
        autoplay 
        style="max-width: 100%">
      </video>

      <div class="center">
        <a href="#" id="video-button" class="btn btn-success btn-lg">
          <%= glyphicon("facetime-video") %> Take Video
        </a>

        <%= f.submit("Save", id: "video-button-sumbit", class: "btn btn-primary btn-lg") %>
      </div>
    <% end %>
  </div>
</div>
